/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {...}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	.card1 p{
		font-size: 11px;
		padding-bottom: 15;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.b_text h1{
		font-size: 60px;
	}
	.b_text p{
		font-size: 22px;
	}
	.b_text button{
		padding: 10px 40px;
	}
	.card2 h2 {
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
}
.card2 p{
	font-size: 16px;
}


	.dance_title p{
		font-size: 20px;
	}
	.about_text p {
		padding: 0px 0px;
		font-family: 'Nunito', sans-serif;
		font-size: 26px;
		font-weight: 400;
		line-height: 35px;
	}
	.subs_text p {
		padding: 0px 45px;
		padding-top: 5px;
		font-size: 20px;
		font-family: 'Montserrat', sans-serif;
	}

	footer{
		padding: 20px;
	}
	.about ul li a {
		font-size: 15px;
		font-family: 'Montserrat', sans-serif;
		color: white;
		text-decoration: none;
		line-height: 30px;
	}
	.services ul li a {
		font-size: 15px;
		font-family: 'Montserrat', sans-serif;
		color: white;
		text-decoration: none;
		line-height: 30px;
	}
	.others ul li a {
		font-size: 15px;
		font-family: 'Montserrat', sans-serif;
		color: white;
		text-decoration: none;
		line-height: 30px;
	}
	.musicology p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    }
    .social-icon i {
    background: white;
    color: #303030;
    border-radius: 20px;
    font-size: 18px;
    padding: 8px;
    margin-right: 5px;
}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.grid-text p{
		font-size: 26px;
		padding: 20px 0;
	}
}

/*Extra Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
	

}

/*Extra Extra large devices (Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }